{
    "tagFormat": "${version}",
    "branches": [
        "main",
        {
            "name": "alpha",
            "prerelease": true
        },
        {
            "name": "beta",
            "prerelease": true
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/npm",
            {
                "tarballDir": "dist",
                "npmPublish": true
            }
        ],
        "@semantic-release/github"
    ]
}
