name: Release

on:
    push:
        branches:
            - main
            - alpha
            - beta

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v2

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '16.x'

            - name: Install Dependencies
              run: npm install

            - name: Semantic Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_ACTIONS_TOKEN }}
              run: npx semantic-release
